/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.lamp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#lamp {
    width: 15%;
    height: 7vh;
    border: 1px solid black;
    border-radius: 50% / 10%;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    background-image:
        radial-gradient(closest-corner at 50% 2%, #EEE4CF 70%, transparent 78%),
        linear-gradient(to right, transparent 48%, #ffffff66 58% 75%, transparent 88%),
        linear-gradient(-253deg, #ffffffcc, #E5CB9A 15%, #DBB97C 20%, #EDDBB7 36%, #ffffff33 54%, transparent 95%),
        linear-gradient(253deg, #F8EFDD 20%, transparent)
}

#light {
    height: 30vh;
    width: 100%;
    border-color: #EEE4CF;
    clip-path: polygon(43% 0, 57% 0, 100% 100%, 0 100%);
    background-image:
        linear-gradient(to bottom, rgb(224, 224, 165), transparent);
    display: none;
    align-items: center;
    flex-direction: column;
}

#prop,
#options {
    display: none;
    margin-top: 3%;
    font-family: "Pacifico", cursive;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    height: max-content;
}

#Yes,
#No {
    border-width: thick;
    border-radius: 3px;
    border-color: #ffa600;
    height: 4vh;
    width: 6vw;
    text-align: center;
    align-content: center;
    font-size: larger;
}

#string {
    width: 0.3vh;
    height: 25vh;
    background: #181313;
    border: 0.5px solid black;
}

#op {
    margin-top: 20%;
}

#text {
    color: white;
    text-align: center;
}

#switch {
    display: block;
    margin: auto;
    width: fit-content;
    height: max-content;
}

#switch button {
    background-color: rgb(94, 94, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20%;
    border-color: greenyellow;
}

.gr-h1 {
    width: fit-content;
    display: flex;
    margin: 15% auto 2% auto;
}

.gr-h1 H3 {
    font-size: xx-large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;

}